<h1>My Content</h1>
<table>
  <tr>
    <th><%= current_user.name%>'s</th>
    <th>Content</th>
    <th colspan="2"></th>
  </tr>
  <% @contents.each do |content| %>
    <tr>
      <td><%= content.url %></td>
    </tr>
  <% end %>
</table>
