<h1><%= @user.name %>'s Page</h1>
<% if @user == current_user%>
  <p> This is you :D </p>
  <%= link_to "Update location", new_user_location_path(current_user) %>
  <%= link_to "My location", user_location_path(current_user.id, 1) %>
<% end %>
<%= link_to "Saved Content", user_contents_path(@user) %>
