<% if current_user %>
	<p>
	  <strong>Latitude: </strong>
	  <%= current_user.location.latitude %>
	</p>

	<p>
	  <strong>Longitude: </strong>
	  <%= current_user.location.longitude %>
	</p>
<% end %>
